<%= provide :title, t("user_edit.title") %>
<%= provide :button_text, t("user_edit.save_changes") %>
<%= provide :password_confirmation, t("user_edit.password_confirmation") %>
<h1><%= t "user_edit.title" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
