<tr class="product-in-cart">
  <td class="w15">
    <img class="img-responsive" src="https://images.unsplash.com/photo-1470350576089-539d5a852bf7?dpr=1&auto=format&fit=crop&w=1500&h=1001&q=80&cs=tinysrgb&crop=" alt="">
  </td>
  <td class="w45">
    <p><%= product.name %></p>
    <i><%= pluralize product.quantity, "item" %> in stock</i>
  </td>
  <td class="w15">
    <p><%= number_to_currency product.price %></p>
  </td>
  <td class="w20 quantity">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="input-group number-spinner">
          <span class="input-group-btn">
            <button class="btn btn-default" data-dir="down" product="<%= product.id %>">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
          </span>
          <input type="text" class="form-control text-center only-number" value="<%= current_cart.quantity product %>">
          <span class="input-group-btn">
  					<button class="btn btn-success" data-dir="up" product="<%= product.id %>">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
  				</span>
        </div>
      </div>
    </div>
  </td>
  <td class="remove">
    <a href="javascript:;" class="btn-remove-product" product= "<%= product.id %>">&times;</a>
  </td>
</tr>
